*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    list-style: none;
    transition: 0.5s;
}
body{
    /* background-color: black; */
}
header{
    background-image: url(./SVG/renglones.svg);
}
#galeria{
    background-color: rgb(117, 117, 117);
    margin-bottom: 2rem;
}
@font-face {
    font-family: Gastada;
    src: url("fonts/gastada.ttf");
}
.header{
   font-family: Gastada; 
}
.cabezal{
    background-color: black;
}
.cabezal h1{
    font-size: 18px;
}
.menu_nav{
    background-color: rgb(22, 19, 19);
}
#galeria img{
    width: 100%;
}
#galeria .galeria_div h1:first-of-type{
    font-family: Gastada;
}
.trabajos h1:first-of-type{
    font-family: Gastada;
}
#trabajos img{
    width: 100%;
}
@media screen and (max-width: 576px){
    #galeria .montajes{
        height: 400px;
    }
    
}
@media screen and (min-width: 577px) and (max-width: 821px){
    #galeria .montajes{
        height: 1000px;
    }
    .juxtapose{
        padding-bottom: 30px;
        margin-bottom: 100px;
    }
}

/* body{
    background-image: url(./bg/grande_Mesa\ de\ trabajo\ 1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
} */
.background_1{
    position: fixed;
    z-index: -8000;
}
.background_3{
    position: fixed;
    z-index: -8000;
    bottom: 0;
}
/* contact_me.html */
.formulario{
    background-color:rgb(22, 19, 19);
    box-shadow: 10px 10px 4px gray;
}
.formulario h1{
    font-family: Gastada;
}
input, .consulta{
    border: 1px solid #2c2c2c;
    border-radius: 0.5rem;
}
.formulario input:hover, textarea:hover{
    outline: 2px solid  #c8bb2b;
}
.formulario input:focus, textarea:focus{
    border: 3px solid  #2e2e2e;
}
.formulario input:focus, textarea:focus, button:focus{
    outline: none;
}
.formulario input:required:valid{
    border: 2px solid #a2f9a2;
    color:#129a00;
}
.formulario input:required:focus:invalid{
    border: 1px solid #ff0000;
    color: #ff0000;
}
.formulario button:hover{
    outline: #EEF0F0 3px solid;
}
/* about_me.html */
.todofoto{
    width: 200px;
    height: 200px;
    border: #000000 4px solid;
    border-radius: 100%;
    background-image: url(./img/perfil.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: 200px;
    box-shadow: 8px 8px 4px gray;
}
.first{
    background-color: white;
}
/* footer */
.pie_pagina{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: Gastada;
    padding-top: 11rem;
}
.link_redes{
    display: flex;
    align-items: flex-start;
    padding-top: 6rem;
    background-color: rgb(22, 19, 19);
}
.redes_ li a img{
    margin-right: 2rem;
}
.datos_finales{
    display: flex;
    align-items: center;
    background-color: rgb(22, 19, 19);
    width: 100%;
    height: 40vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/* mailsent.html */
.mailsent{
    font-family: Gastada;
    color: black;
}
/* boton hamburguesa */
.navbar .navbar-toggler{
    border: none;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
.navbar-toggler-icon {
    background-image: url(./img/instagram.png);
}
/* contacto sin form */
.Contact{
    margin-top: 12rem;
    margin-bottom: 10rem;
}
/* boton wsp */

.container-boton{
    background-color: #2e6329;
    border: 3px solid #2e6329;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.boton{
    width: 80px;
    transition: ease 1s;
}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}
/* cualidades */

.cualidades{
    background-color: gray;
    width: 8rem;
    border: gray 2px solid;
    display: flex;
    border-radius: 2rem;
    align-items: center;
    margin: 0.5rem;
    justify-content: center;
}
.cualidades:hover{
    width: 10rem;
    background-color: black;
    color: gray;
}

.cualidades p{
    display: flex;
    margin-bottom: 0;
    padding: 10px;
    color: white;
}
